$mint: #f1fffa;
$tea__green: #ccfccb;
$celadon: #96e6b3;
$fern_green: #568259;
$fern_green-hover: #3faa47;
$outer_space: #464e47;
$outer_space-hover: #579b09;
$outer_space-shadow: #464e4763;
$wisteria: #b0a3d4;
$tropical-indigo: #7d80da;
$warning: #e6af2e;
$warning-hover: #dfe215;
$danger: #ff3a20;
$danger-hover: #f50808;
