@use "../../ui/color_pallete";
@use "../../ui/media_breakpoints";

.notes-list {
  display: flex;
  max-width: 90vw;
  max-height: 80px;
  overflow-x: auto;

  @media (min-width: media_breakpoints.$md) {
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 300px;
    max-height: 100%;
    overflow-y: auto;
    border: 1px solid color_pallete.$outer-space;
  }
}
